{%- set active_page = faucet.cluster + " faucet" -%}

{%- include "_layout_header.html" -%}
        <div class="container-fluid">
            <section class="jumbotron text-center">
                <h2>Community {{ faucet.cluster }} faucet: {{ faucet.balance }} SOL</h2>
                <p>
                    Faucet gives {{ faucet.limit }} SOL per address. This is enough for your node to start, as well as to stake.
                </p>
                <p>How to help?
                    <code>
                        solana -u{{ faucet.cluster[0] }} withdraw-from-vote-account vote-account-keypair.json {{ faucet.address }} ALL;
                    </code>
                </p>

                {% if faucet.message %}
                    <div class="p-3 mb-2 bg-info text-white">{{ faucet.message }}</div>
                {% endif %}

                <form action="{{ url('faucet', cluster=faucet.cluster) }}" method="POST">
                    <div class="form-group">
                        <input id="addr" name="addr" class="form-control" aria-describedby="addr_help" placeholder="Solana {{ faucet.cluster }} ADDR">
                        <small id="addr_help" class="form-text text-muted">Your Solana {{ faucet.cluster }} base58 address</small>
                    </div>
                    <input type="submit" class="btn btn-primary" value="show me the money!">
                </form>
            </section>
        </div>

{%- include "_layout_footer.html" -%}