{%- macro cluster_versions_table(cluster) -%}
    <table class="table table-sm table-condensed">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Version</th>
                <th scope="col">Nodes</th>
                <th scope="col">Stake</th>
            </tr>
        </thead>
        <tbody>
        {% for version, counter in cluster.versions_nodes | dictsort %}
            <tr>
                <td>{{ version }}</td>
                <td>{{ cluster.versions_nodes[version] }}</td>
                <td>{{ "%.3f" % (cluster.versions_stake[version] / cluster.stake_total * 100)  }}%</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{%- endmacro -%}

{%- set active_page = "Home" -%}

{%- include "_layout_header.html" -%}

        <div class="container-fluid">
            <div class="row col-sm-12">
                <div class="col-sm-6">
                    <h2>Testnet cluster</h2>
                    {{ cluster_versions_table(testnet) }}
                </div>

                <div class="col-sm-6">
                    <h2>Mainnet cluster</h2>
                    {{ cluster_versions_table(mainnet) }}
                </div>
            </div>
        </div>


{%- include "_layout_footer.html" -%}