{%- set active_page = "Onboarding" -%}

{%- include "_layout_header.html" -%}
        <section class="jumbotron text-center bg-warning">
            <strong>Attention!</strong> Mainnet onboarding history updates every 2 hours.
        </section>


        <div class="col-sm-12">
            <table class="table table-striped table-hover" data-toggle="table" data-search="true" data-custom-sort="table_sorter" data-sort-order="asc" data-sort-name="epoch_{{ epoches | max }}" data-show-columns="true">
                <thead>
                    <tr>
                        <th scope="col" data-field="favorite" data-sortable="true">F</th>
                        <th scope="col" data-field="testnet_pk">Testnet PK</th>
                        <th scope="col" data-field="mainnet_beta_pk" data-visible="false">Mainnet PK</th>
                        <th scope="col" data-field="tds_onboarding_group" data-sortable="true" data-visible="false">TdS</th>

                        {% for epoch in epoches[:-6] %}
                            <th scope="col" data-field="epoch_{{ epoch }}" data-sortable="true" data-visible="false">{{ epoch }}</th>
                        {% endfor %}

                        {% for epoch in epoches[-6:] %}
                            <th scope="col" data-field="epoch_{{ epoch }}" data-sortable="true">{{ epoch }}</th>
                        {% endfor %}

                        <th scope="col" data-field="bonus_207" data-sortable="true">Bonus207</th>
                        <th scope="col" data-field="bonus_13" data-sortable="true">Bonus13</th>
                        <th scope="col" data-field="credits_64" data-sortable="true" >Creds</th>
                        <th scope="col" data-field="credits_64p" data-sortable="true">Creds%</th>
                        <th scope="col" data-field="scoring" data-sortable="true">Score</th>
                        <th scope="col" data-field="state" title="State">St</th>
                    </tr>
                </thead>

                <tbody id="tbody">
                {% for node_pubkey, node in nodes.items() %}
                    <tr id="{{ node.testnet_pk }}">
                        <td>
                            <i class="fav-icon bi bi-star" id="fav-{{ node.testnet_pk }}"></i>
                        </td>
                        <td><a target="_blank" href="https://solana.org/sfdp-validators/{{ node.testnet_pk }}">{{ node.testnet_pk }}</a></td>
                        <td><a target="_blank" href="https://solana.org/sfdp-validators/{{ node.mainnet_beta_pk }}">{{ node.mainnet_beta_pk }}</a></td>
                        <td>{{ node.tds_onboarding_group or "-" }}</td>

                        {%- for epoch in epoches -%}
                            <td>{{ node.positions[epoch] or "-" }}</td>
                        {%- endfor -%}

                        <td>{{ node.bonus_207 }}</td>
                        <td>{{ node.bonus_13 }}</td>
                        <td>{{ node.credits_64 }}</td>
                        <td>{{ node.credits_64p }}
                        <td>{{ node.scoring }}</td>
                        <td>
                            {% if node.state == "Approved" %}
                                <span class="badge badge-success" title="Approved">A</span>
                            {% elif node.state == "Pending" %}
                                <span class="badge badge-warning" title="Pending">P</span>
                            {% elif node.state == "Rejected" %}
                                <span class="badge badge-danger" title="Rejected">R</span>
                            {% else %}
                                <span class="badge badge-secondary" title="Unknown">U</span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>


{%- include "_layout_footer.html" -%}