{%- set active_page = "Problematic hardware" -%}

{%- include "_layout_header.html" -%}


        <div class="container-fluid">
            <div class="row col-sm-12">
                <h2>Problematic hardware</h2>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>DC</th>
                            <th>IP</th>
                            <th>CPU</th>
                            <th>Motherboard</th>
                            <th>Storage</th>
                            <th>Shorts</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Miami, Florida</td>
                            <td>172.96.172.128</td>
                            <td>AMD Ryzen 9 5900X</td>
                            <td>ASRockRack, X570D4U-2L2T, 211651270000337</td>
                            <td>Sabrent Rocket 4.0 2TB, S469F0716117000000945</td>
                            <td>Input / output error (storage failures)</td>
                        </tr>

                        <tr>
                            <td>New York</td>
                            <td>104.243.44.135</td>
                            <td>AMD Ryzen 9 3950X</td>
                            <td>ASRockRack, X470D4U2-2T, M80-D6014000373</td>
                            <td>HP SSD EX950 2TB, HBSE50340800124</td>
                            <td>Slow NVME performance</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>


{%- include "_layout_footer.html" -%}