{%- set active_page = "Problematic hardware" -%}

{%- include "_layout_header.html" -%}


        <div class="container-fluid">
            <div class="row col-sm-12">
                <h2>Problematic hardware</h2>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>DC</th>
                            <td>IP</td>
                            <td>CPU</td>
                            <td>Motherboard</td>
                            <td>Storage</td>
                            <td>Shorts</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="2">
                                <h3>Broken hardware</h3>
                            </td>
                        </tr>
                        <tr>
                            <td>Miami, Florida</td>
                            <td>172.96.172.128</td>
                            <td>AMD Ryzen 9 5900X</td>
                            <td>ASRockRack, X570D4U-2L2T, 211651270000337</td>
                            <td>Sabrent Rocket 4.0 2TB, S469F0716117000000945</td>
                            <td>Input / output error (storage failures)</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>


{%- include "_layout_footer.html" -%}