{%- set active_page = "Rewards" -%}

{%- include "_layout_header.html" -%}

        <section class="jumbotron text-center">
            Mainnet rewards for nodes from stake-o-matic database
        </section>

        <div class="col-sm-12">
            <table class="table table-striped table-hover" data-toggle="table" data-search="true" data-custom-sort="table_sorter" data-sort-order="asc" data-sort-name="epoch_{{ epoches | max }}" data-show-columns="true">
                <thead>
                    <tr>
                        <th scope="col" data-field="favorite" data-sortable="true">Fav</th>
                        <th scope="col" data-field="node_pubkey">Mainnet PK</th>
                        <th scope="col" data-field="vote_pubkey">Vote account</th>
                        {% for epoch in epoches %}
                            <th scope="col" data-field="epoch_{{ epoch }}" data-sortable="true">{{ epoch }}</th>
                        {% endfor %}
                    </tr>
                </thead>

                <tbody id="tbody">
                {% for node_pubkey, node in nodes.items() %}
                    <tr id="{{ node.node_pubkey }}">
                        <td>
                            <i class="fav-icon bi bi-star" id="fav-{{ node.node_pubkey }}"></i>
                        </td>
                        <td><a target="_blank" href="https://raw.githubusercontent.com/wiki/solana-labs/stake-o-matic/md/Validator-{{ node.node_pubkey }}.md">{{ node.node_pubkey }}</a></td>
                        <td><a target="_blank" href="https://www.validators.app/vote_accounts/{{ node.vote_pubkey }}?locale=en&network=mainnet">{{ node.vote_pubkey }}</a></td>

                        {%- for epoch in epoches -%}
                            <td>{{ node.rewards[epoch] or "-" }}</td>
                        {%- endfor -%}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

{%- include "_layout_footer.html" -%}