{%- set active_page = "Signups" -%}

{%- include "_layout_header.html" -%}

        <section class="jumbotron text-center bg-warning">
            <strong>Attention!</strong> This table is not official and is based only on the order of key binding during registration!
        </section>

        <div class="col-sm-12">
            <table class="table table-striped table-hover" data-toggle="table" data-search="true" data-custom-sort="table_sorter" data-sort-order="asc" data-sort-name="epoch_{{ epoches | max }}" data-show-columns="true">
                <thead>
                    <tr>
                        <th scope="col" data-field="favorite" data-sortable="true">Fav</th>
                        <th scope="col" data-field="testnet_pk">Testnet PK</th>

                        {% for epoch in epoches %}
                            <th scope="col" data-field="epoch_{{ epoch }}" data-sortable="true">{{ epoch }}</th>
                        {% endfor %}
                    </tr>
                </thead>

                <tbody id="tbody">
                {% for node_pubkey, node in nodes.items() %}
                    <tr id="{{ node.testnet_pk }}">
                        <td>
                            <i class="fav-icon bi bi-star" id="fav-{{ node.testnet_pk }}"></i>
                        </td>
                        <td>{{ node.testnet_pk }}</td>
                        {%- for epoch in epoches -%}
                            <td title="Slot: {{ node.slots[epoch] or '-' }}">{{ node.positions[epoch] or "-" }}</td>
                        {%- endfor -%}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

{%- include "_layout_footer.html" -%}