{%- set active_page = "Useful" -%}

{%- include "_layout_header.html" -%}

        <section class="jumbotron text-center">
            <h2>Useful links</h2>
        </section>

        <div class="row col-sm-12">
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <td colspan="2">
                            <h3>Monitoring</h3>
                        </td>
                    </tr>
                    <tr>
                        <td><a target="_blank" href="https://github.com/stakeconomy/solanamonitoring">SolanaMonitoring</a></td>
                        <td>Community dashboard on https://metrics.stakeconomy.com possible so you don't need to setup your own monitoring system.</td>
                    </tr>
                    <tr>
                        <td><a target="_blank" href="https://t.me/NodesGuru_bot">NodesChecker</a></td>
                        <td>Telegram bot from NodesGuru for nodes health checking, incl. Solana (testnet and mainnet both).</td>
                    </tr>
                    <tr>
                        <td><a target="_blank" href="https://github.com/Chainflow/solana-mission-control">Solana Mission Control</a></td>
                        <td>Solana mission control provides a comprehensive set of metrics and alerts for solana validator operators.</td>
                    </tr>


                    <tr>
                        <td colspan="2">
                            <h3>Tools</h3>
                        </td>
                    </tr>
                    <tr>
                        <td><a target="_blank" href="https://github.com/c29r3/solana-snapshot-finder">Solana Snapshot Finder</a></td>
                        <td>Automatic search and download of snapshots for Solana</td>
                    </tr>

                    <tr>
                        <td colspan="2">
                            <h3>Ru</h3>
                        </td>
                    </tr>
                    <tr>
                        <td><a target="_blank" href="https://www.youtube.com/c/DimAn_io">Youtube: DimAn</a></td>
                        <td>Видео-мануал по установке ноды Solana от активного участника Solana RU-Tech @diman_io.</td>
                    </tr>
                    <tr>
                        <td><a target="_blank" href="https://www.youtube.com/watch?v=kln7DfYFzjE&list=PL6W8z7_LBYsJxIQuzTulRtWvwyjMttTkx">Youtube: Abez</a></td>
                        <td>Видео-инструкции по разным аспектам валидирования от активного участника Solana RU-Tech @Abezyan.</td>
                    </tr>
                    <tr>
                        <td><a target="_blank" href="https://teletype.in/@in_extremo/solana_useful">In_Extremo</a></td>
                        <td>Сборник полезных команд от @In_Extremo</td>
                    </tr>
                </tbody>
            </table>
        </div>


{%- include "_layout_footer.html" -%}