{% set active_page = "Useful" %}

{% include "_layout_header.html" %}


        <div class="container">
            <div class="row col-sm-12">
                <h2>Monitoring</h2>

                <table class="table table-hover">
                    <tr>
                        <td>
                            <a target="_blank" href="https://github.com/stakeconomy/solanamonitoring">SolanaMonitoring</a>
                        </td>
                        <td>
                            Community dashboard on https://metrics.stakeconomy.com possible so you don't need to setup your own monitoring system.
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <a target="_blank" href="https://t.me/NodesGuru_bot">NodesChecker</a>
                        </td>
                        <td>
                            Telegram bot from NodesGuru for nodes health checking, incl. Solana (testnet and mainnet both).
                        </td>
                    </tr>
                </table>


                <h2>Ru</h2>
                <table class="table table-hover">
                    <tr>
                        <td>
                            <a target="_blank" href="https://teletype.in/@in_extremo/solana_useful">In_Extremo</a>
                        </td>
                        <td>
                            Сборник полезных команд от активного участника Solana RU-Tech <a target="_blank" href="https://t.me/In_Extremo">@In_Extremo</a>
                        </td>
                    </tr>

                </table>
            </div>
        </div>


{% include "_layout_footer.html" %}