{% set active_page = "Voting" %}

{% include "_layout_header.html" %}

        <div class="col-sm-12">
            <table class="table table-striped table-hover" data-toggle="table" data-search="true" data-custom-sort="table_sorter" data-sort-order="asc" data-sort-name="epoch_{{ epoches | max }}" data-show-columns="true">
                <thead>
                    <tr>
                        <th scope="col" data-field="testnet_pk">Testnet PK</th>
                        <th scope="col" data-field="mainnet_beta_pk" data-visible="false">Mainnet PK</th>
                        <th scope="col" data-field="tds_onboarding_group" data-sortable="true">TdS</th>

                        {% for epoch in epoches %}
                            <th scope="col" data-field="epoch_{{ epoch }}" data-sortable="true">{{ epoch }}</th>
                        {% endfor %}

                        <th scope="col" data-field="bonus_207" data-visible="false">Bonus 207</th>
                        <th scope="col" data-field="bonus_13" data-visible="false">Bonus 13</th>
                        <th scope="col" data-field="credits_64" data-visible="false">Credits</th>
                        <th scope="col" data-field="credits_64p" data-visible="false">Credits %</th>

                    </tr>
                </thead>

                <tbody>
                {% for node_pubkey, node in nodes.items() %}
                    <tr>
                        <td><a target="_blank" href="https://github.com/solana-labs/stake-o-matic/wiki/Validator-{{ node.testnet_pk }}">{{ node.testnet_pk }}</a></td>
                        <td><a target="_blank" href="https://github.com/solana-labs/stake-o-matic/wiki/Validator-{{ node.mainnet_beta_pk }}">{{ node.mainnet_beta_pk }}</a></td>
                        <td>{{ node.tds_onboarding_group or "-" }}</td>

                        {%- for epoch in epoches -%}
                            <td>{{ node.positions[epoch] or "-" }}</td>
                        {%- endfor -%}
                        <td>{{ node.bonus_207 }}</td>
                        <td>{{ node.bonus_13 }}</td>
                        <td>{{ node.credits_64 }}</td>
                        <td>{{ node.credits_64p }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

{% include "_layout_footer.html" %}